* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  padding: 15px 0;
  color: #fefefe;
}

.header-h1 {
  color: #fefefe;
  font-size: 25px;
  letter-spacing: 0.8px;
}
